<div class="Post">
  <div class="Post-header">
    Posted by {{post.author}} {{postDate}}
  </div>

  <h3 class="Post-title" v-text="post.title"></h3>
  <p class="Post-message" v-text="post.message"></p>

  <div class="Post-actions">
    <button class="Post-actionsToggle" @click="toggleActions()" :class="{isOpen: isActionsOpen}">
      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    </button>
    <div v-if="isActionsOpen" class="Post-actionsMenu">
      <span v-if="isAuthored">
        <button class="Post-action" @click="edit()">
          <i aria-hidden="true" class="fa fa-pencil"></i>
          <span>Edit</span>
        </button>
        <button class="Post-action" @click="remove()">
          <i aria-hidden="true" class="fa fa-trash-o"></i>
          <span>Delete</span>
        </button>
      </span>
      <span v-else>
        <button class="Post-action" @click="reply()">
          <i aria-hidden="true" class="fa fa-reply"></i>
          <span>Reply</span>
        </button>
      </span>
    </div>
  </div>
</div>
